body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/home.png);
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 0;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1% 0 0.5% 0;
  text-align: center;
}

.ancients img:hover,
.difficulty-level:hover,
.cards-in-game img {
  cursor: pointer;
  transition: ease-in 0.3s;
}
.ancients img:hover {
  transform: scale(1.2);
}
.difficulty-level:hover {
  transform: scale(1.05);
}
.cards-in-game img:hover {
  transform: scale(1.05);
}

.ancients {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin: 0 5%;
}

.ancients img {
  height: 30vh;
  transition: ease-in 0.3s;
}

.active {
  border: 2px solid red;
}

.difficulty-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
  text-align: center;
}

.difficulty-level {
  width: 120px;
  padding: 3px;
  border: 1px solid #ffffff;
  background-color: #ffffff33;
  border-radius: 16px;
  transition: ease-in 0.3s;
}

.active2 {
  color: red;
}

.deck-container {
  height: 30vh;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

.cards-counter {
  flex: 0 0 30%;
}

.stage-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 1% 0;
}

.stage-name {
  font-weight: 600;
}

.stage-cards {
  display: flex;
}

.dots {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: brown;
}

.cards-in-game {
  display: flex;
  gap: 5%;
  flex: 0 0 70%;
}

.cards-in-game img {
  height: 20vw;
  transition: ease-in 0.3s;
}